.hug-img-logo {
    position: relative;

    &:hover{
        opacity: .8;
    }

    img{
        width: 100%;
    }
}
.nav-center {
    background: var(--BGR-color-nav);


    .list_nav-center{
        display: flex;
        align-items: center;
        width: 100%;
        height: var(--height-nav-center);
    }
}