.hug-img-logo {
    position: relative;

    img{
        height: var(--height-nav-center) ;
    }
}
.nav-center {
    border-bottom: 1px solid #ccc;

    .list_nav-center{
        display: flex;
        align-items: center;
        width: 100%;
        height: var(--height-nav-center);
    }
}