.forgotpassword{
     width: var(--width-form-system);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px rgb(137, 137, 137);
    padding: 30px 30px;
    border-radius: 8px;

    .heading{
        text-align: center;
        text-transform: uppercase;
        font-size: var(--font-size-heading);
        width: 100%;
        display: block;
        margin-bottom: 50px;
        font-weight: 600;
        color: rgba(254, 44, 85, 1.0);
        text-shadow: 0px -1px 1px rgb(120, 118, 118);
    }

    label{
        height: var(--height-label);
        font-size: var(--font-size-label);
        margin: 38px 0 10px 0;
        display: block;
    }

    .input{
        height: var(--height-input);
        padding-left: var(--padding-left);
        width: 100%;
        background-color: #fff;
        border: 1px solid #ccc;
        outline: none;
        border-radius: 6px;
        font-size: calc( var(--font-size-label) - 0.2rem);
    }

    .input[name='token']{
        height: 80px;
        font-size: 30px;
    }

    .error-input-login{
        display: flex;
        align-items: center;
        color: red;
        
        svg{
            margin-right: 10px;
        }
    }
}

.notification{
    text-align: center;

    p{
        margin: 30px 15px;
        font-size: 3rem;
        text-transform: uppercase;
        color: #001843;
    }

    span{
        
        a{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.6rem;
            background-color: #de7e85;
            padding: 8px 25px;
            border-radius: 20px;
            color: #fff;
            display:  inline-block;
            line-height: 1.5;
            margin-top: 50px;
            box-shadow: 0px -2px 0px #ccc;
        }
    }
}