.forgotpassword {
    width: var(--width-form-system);
    padding: 30px 30px;
    border-radius: 8px;

    .heading {
        text-align: center;
        text-transform: uppercase;
        font-size: var(--font-size-heading);
        width: 100%;
        display: block;
        margin-bottom: 50px;
        font-weight: 600;
        color: rgba(254, 44, 85, 1.0);
    }

    label {
        height: var(--height-label);
        font-size: var(--font-size-label-form-login);
        margin: 25px 0 10px 0;
        display: block;
        color: var(--white);
    }

    .input {
        height: var(--height-input);
        padding-left: var(--padding-left);
        width: 100%;
        background-color: transparent;
        border: 1px solid rgb(255, 255, 255);
        color: var(--white);
        outline: none;
        border-radius: 6px;
        font-size: var(--font-size-label-form-login);
        font-family: var(--font-family-primary);
    }

    .input[name='token'] {
        height: 80px;
        font-size: 30px;
    }

    .error-input-login {
        display: flex;
        align-items: center;
        color: red;
        height: 2rem;
        margin-top: 4px;

        svg {
            margin-right: 10px;
        }
    }
}

.notification {
    text-align: center;

    p {
        margin: 30px 15px;
        font-size: 3rem;
        text-transform: uppercase;
        color: #001843;
    }

    span {

        a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.6rem;
            background-color: #de7e85;
            padding: 8px 25px;
            border-radius: 20px;
            color: #fff;
            display: inline-block;
            line-height: 1.5;
            margin-top: 50px;
            box-shadow: 0px -2px 0px #ccc;
        }
    }
}