.heading-other-data{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var( --BGR-voucher);
    cursor: pointer;
}

#list-input{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .err_message{
        color: red;
        margin-top: -16px;
    }
}