
.form-login{
    width: var(--width-form-system);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px rgb(137, 137, 137);
    padding: 30px 30px;
    border-radius: 8px;

    .heading{
        font-size: var(--font-size-heading);
        color: var(--color-heading);
        padding: 20px 0 50px 0;
        display: block;
        font-weight: 600;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }

    .form-input{
        label{
            width: 100%;
            display: block;
            font-size: var(--font-size-label-form-login);
            margin-top: 10px;
        }

        

        .wrap-input{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ccc;
            position: relative;

           

            .icon-input{
                font-size: var(--font-size-label-form-login);
                color: rgb(2, 129, 188);
                opacity: 0.5;
                width: auto;
                flex: 1;
                padding: 10px;
            }

            .input{
                height: var(--height-input-form-login);
                width: calc(100% - 30px);
                font-size:  var(--font-size-label-form-login);
                padding-left: 12px;
                border: none;
                outline: none;
                position: relative;
                font-family: var(--font-family-primary);
            }

            .input[name='password']{
                height: var(--height-input-form-login);
                width: calc(100% - 50px);
                font-size:  var(--font-size-label-form-login);
                padding-left: 12px;
                border: none;
                outline: none;
            }
        }
        .forget{
            display: inline-block;
            float: right;
            margin: 12px  0;
            cursor: pointer;
            
            a{
                font-size: var(--font-size-label-form-login);
                text-decoration: none;
                color: var( --color-text-forgot);
                &:hover{
                    color: var(--color-hover-link);
                }
            }

        }
        .btn-submit{
            width: 100%;
            height: var(--height-input-form-login);
            margin: 20px 0;
            border: none;
            outline: none;
            text-align:center;
        }
        .error-input-login{
            display: flex;
            align-items: center;
            color: red;
            height: 2rem;
            
            svg{
                margin-right: 10px;
            }
        }
    }

    .login-society{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 0;

        .login-society-sub{
            color: var(--color-text);
            font-size: var(--font-size-label-form-login);
        }
        
        .list-icon-society{
            margin: 20px 0 0 0;

            .img-logo{
                margin: 0 8px;
            }
        }
    }

    .text-footer-form{
        
        p{
            text-align: center;
            color:rgba(42, 42, 42, 0.56);
            font-size: 1.6rem;

            a{
                color:rgba(42, 42, 42, 0.56);
                text-decoration: none;
                font-size: 1.6rem;

                &:hover{
                    font-size: 1.6rem;
                    color: var(--color-hover-link);
                }
            }
        }
    }
}












.img-logo{
    display: inline-block;
    width: 40px;

    img{
        width: 100%;
    }
}