.nav-top{
    // background: linear-gradient(180deg, #ff0039, #ff2f2d);
    background: linear-gradient(180deg, #86001e, #ff2f2d);

    .hug-nav-top{
        display: flex;
        align-items: center;
        height: var(--height-top-nav);
        justify-content: space-between;

        .nav-top-right{
            height: var(--height-top-nav);
            display: flex;
            align-items: center;

            .not-login {
                display: flex;
                align-items: center;
                margin-right: 10px;

                a {
                    color: var(--white);
                    margin: 0;


                    &:hover{
                        opacity: .8;
                        opacity: .6;
                    }
                } 
            }
        }
        
        .nav-top-left{
            height: var(--height-top-nav);
            display: flex;
            margin-right: 20px;
            align-items: center;

            .phone{
                margin-right: 20px;
                text-decoration: none;
                color: var(--white);
                z-index: 1;

                &:hover{
                    opacity: .6;
                }

                svg{
                    margin-right: 6px;
                }
            }
            .email{
                text-decoration: none;
                color: var(--white);

                &:hover{
                    opacity: .6;
                }

                svg{
                    margin-right: 6px;
                }
            }


        }
    }
}