@import 'normalize.css';

:root{
    --primary: #fe2c55;
    --black : #000;
    --white : #fff;
    --color-text: #333;

   

    //input 
    --padding-left: 12px;
    --height-label: 1.9rem; 
    --font-size-label: 1.6rem;
    --height-input: 40px;
    
    // Tippy
    --font-size-tippy: 1.4rem;
    
    // ManageUser
    --default-color-iconSVG: #65676B;
    --iconSVG-hover: #2b72ff;
    --iconSVG-active: #1B74E4;
    --size-heading-manage: 22px;
    --heightHeader: 50px;
    --BGR-header: #fff;
    --BGR-color-btn-manageuser: rgb(0, 123, 195);
    --BGR-color-btn-manageuser-edit: rgb(255, 153, 0);
    
    // select 
    --font-size: 1.6rem;

    // Mắt
    --width-eye: 40px;

    //Btn
    --font-size-btn: 1.6rem;
    --BGR-frimary-btn-LG: rgba(254, 44, 85, 1.0);
    --color-frimary-btn-LG: rgba(255, 255, 255, 1.0);
    --BGR-frimary-btn-hover-LG:rgb(242, 47, 86);
    --font-weight: 500;

    --BGR-close-btn-LG: rgb(240, 240, 240);
    --color-close-btn-LG: rgb(44, 44, 44);
    --BGR-close-btn-hover-LG:rgb(242, 47, 86);
    --color-close-btn-hover-LG: #fff ;
    
    --BGR-close-transparent-btn-LG: rgba(0, 213, 255, 0.048);
    --color-close-transparent-btn-LG: rgb(255, 255, 255);
    --BGR-close-transparent-btn-hover-LG:rgb(242, 47, 86);
    --color-close-transparent-btn-hover-LG: #fff ;
    
    --BGR-color-btn-manageuser-close: rgba(153, 152, 152, 0.692);
    
    
    // BTN submit login 
    --font-size-btn-submit: 2rem;
    --BGR-btn-submit-LG:  linear-gradient( rgba(254, 44, 85, 1.0),rgb(144, 12, 38));
    --color-btn-submit-LG: rgb(255, 255, 255);
    --BGR-btn-submit-hover-LG: rgba(254, 44, 85, 1.0);
    --color-btn-submit-hover-LG: #fff ;

    --BGR-btn-ban-LG: rgba(159, 224, 255, 0.44);
    --color-btn-ban-LG: rgb(255, 255, 255);
    --color-btn-ban-hover-LG: #fff ;


    // Form system
    --width-form-system: 450px;
    --font-size-heading: 2.9rem;
    --color-heading: rgb(0, 73, 145);
    --font-size-label:1.6rem;


    // link
    --color-hover-link: rgb(6, 67, 136);


    // Font family btn
    --font-family-primary:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


    // Login or Register
    --font-size-label-form-login: 1.8rem;   // Font size input + laybel + icon + plancehoder 
    --color-text-forgot: rgb(100, 100, 100);
    --height-input-form-login: 4rem;      // height input + btn submit

    // items
    --color-sub-price: rgb(124, 123, 123);
    --svg-search: 60px;

    // voucher
    --BGR-voucher: #ee4d2d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed; 
    overflow-y: overlay;
   
}




html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}


.heading-manage-user{
    text-align: center;
    font-size: var(--size-heading-manage);
    text-transform: uppercase;
    cursor: pointer;
}

.list-input{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:space-between;
    margin-top: 10px;
}

a{
    text-decoration: none;
}

.css-2613qy-menu{
    color: red !important;
}